@charset "utf-8";

// Import a Google Font
@import url(https://fonts.googleapis.com/css?family=Nunito&display=swap);

// Set your brand colors
$purple: #8A4D76;
$pink: #FA7C91;
$brown: #757763;
$beige-light: #D0D1CD;
$beige-lighter: #EFF0EB;

// Update Bulma's global variables
$family-sans-serif: 'Nunito', sans-serif;
$grey-dark: $brown;
$grey-light: $beige-light;
$primary: $purple;
$link: $pink;

// Update some of Bulma's component variables
$body-background-color: $beige-lighter;
$input-focus-border-color: $brown;
$input-shadow: none;

// Disable the widescreen breakpoint
$widescreen-enabled: false;

// Disable the fullhd breakpoint
$fullhd-enabled: false;

// Update Bulma Divider's variables
$divider-color: $brown;
$divider-background-color: $brown;
$divider-thickness: .1rem;

// Create custom Scrollbar
.scroll-bar {
    overflow: auto !important;
    scrollbar-width: thin;
    scrollbar-color: $brown $beige-light;
    &::-webkit-scrollbar-button {
        display: none;
    }
    &::-webkit-scrollbar {
        width: 6px;
        background-color: $beige-light;
    }
    &::-webkit-scrollbar-thumb {
        background-color: $brown;
    }
    &::-webkit-scrollbar-track {
        box-shadow: inset 0 0 6px $beige-light;
        -webkit-box-shadow: inset 0 0 6px $beige-light;
        background-color: $beige-lighter;
    }
}

// Import only what you need from Bulma
@import "~bulma";
@import "~bulma-divider";